<h1>SafePort</h1>
<%= form_with(url: root_path, method: :get, local: true, id: "city-form") do %>
  <%= label_tag :city, "Choose a city" %>
  <%= select_tag :city, options_from_collection_for_select(@cities, 'city', 'city'), prompt: "Select a city", id: "city-select" %>
<% end %>

<script>
  document.getElementById("city-select").addEventListener("change", function() {
    const city = this.value;
    if (city) {
      window.location.href = `/cities/${city}`;
    }
  });
</script>
