<section class="home-background" style="background-image: url('<%= asset_path('default_background.jpg') %>'); background-size: cover; background-position: center; min-height: 100vh; display: flex; justify-content: center; align-items: center; text-align: center;">
  <div class="content">
    <h1 class="title">SafePort</h1>
    <%= form_with(url: root_path, method: :get, local: true) do %>
      <%= label_tag :airport, "Choose an airport" %><br>
      <%= select_tag :airport, options_from_collection_for_select(@airports, 'id', 'name'), prompt: "Select an airport", onchange: "location = '/airports/' + this.value;" %>
    <% end %>
  </div>
</section>
