<h1>SafePort</h1>
<%= form_with(url: root_path, method: :get, local: true) do %>
  <%= label_tag :airport, "Choose an airport" %>
  <%= select_tag :airport, options_from_collection_for_select(@airports, 'id', 'name'), prompt: "Select an airport", onchange: "location = '/airports/' + this.value;" %>
<% end %>

<script>
  document.getElementById("city-select").addEventListener("change", function() {
    const city = this.value;
    if (city) {
      window.location.href = `/cities/${city}`;
    }
  });
</script>
