body {
  font-family: Arial, sans-serif;
}


section h2 {
  margin-top: 20px;
  font-size: 1.5em;
}

section p, section ul li {
  font-size: 1em;
  line-height: 1.6;
}

.home-background {
  background-image: url('<%= asset_path('default_background.jpg') %>');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px; /* Adds spacing below the title */
}

.label {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.dropdown {
  font-size: 1.25rem;
  padding: 10px;
}

.home-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff; /* Button background color */
  color: white; /* Text color */
  text-decoration: none; /* Remove underline */
  border-radius: 5px; /* Rounded corners */
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s;
}

.home-button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

.currency-converter {
  margin-top: 20px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  max-width: 400px;
  text-align: center;
}

.currency-converter h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.currency-converter label,
.currency-converter input,
.currency-converter select,
.currency-converter button {
  margin: 5px 0;
}
